@charset "UTF-8";
body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    background-color: darkblue;
    color: rgb(223, 93, 6);
}
h2{
    background-color: darkblue;
    color: rgb(255, 81, 0);
}
p{
    text-align: justify;
}